@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Bigelow+Rules&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Public+Sans&display=swap');

body{
    font-family: 'Open Sans Condensed';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
    max-width: 1400px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body{
  padding: 100px 0 0 0;
}